@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

  :root { 
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    font-feature-settings: "palt";
    font-size: 16pt;
  }

 body{
    background: #cbeaff;
 }
 
 .title h1 {
    font-size: 2rem;
    font-family: 'Noto Sans JP', sans-serif;
    margin-left: 1rem;

    color: #f3ef12;
    text-shadow: 2px 2px 0 #00000042;
}

.title {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    align-items: center;
    
    justify-content: space-between;
    font-family: 'Noto Sans JP', sans-serif;
    
    background-color: #0345fa;

    box-shadow: 0 2px 1rem #00000042;
}

.title .menu ul {
    list-style: none; 
    display: flex;
    align-items: center;
}

.title .menu ul a {
    color:  #f3ef12;
    text-decoration: none;

    display: inline-block;
    line-height: 1; 
    font-size: 1.125rem;
    padding: calc(1.25rem - 4px) 2rem;

    transition: color,background-color 0.3s;

    border-right: 1px solid #0000001f;
    border-top: 4px solid transparent; 
    border-bottom: 4px solid transparent; 
}

.title .menu ul li:last-child a {
    border-right: none;
}


.title .menu ul a:hover {
    background-color: #12acf3;
    color: #f3ef12;
    border-bottom: 4px solid #f3ef12;
}

.profile-photo img {
    display: block; 
    width: 350px; 
    height: 350px; 
    border-radius: 50%; 
  }
  .profile-text {
    max-width: 600px; 
    padding: 2rem; 
    color: #f3ef12;
    background-color: #0345fa;
    font-family: 'Noto Sans JP', sans-serif;
  }
  .pro{
      font-size: 4rem; 
      
  }
  .social {
    list-style: none; 
    display: flex; 
    margin-top: 1.5rem; 
    
  }

.social li {
    line-height: 1; 
    padding: 0.5rem;  
    font-size: 1.5rem; 
  }

  
.social li a {
    text-decoration: none; 
    color: #ffffff;  
    transition: 1s color; 
    
  }

  
.social li a:hover {
    color: #f3ef12;  
  }




#sec1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color:  #12acf3;
    
}
.mp{
    font-size: 5rem;
    text-align: center;
    color: #f3ef12; 
    background-color: #0345fa;
    font-family: 'Noto Sans JP', sans-serif;
}




#sec2 {
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.mc{
    
    font-size: 5rem;
    text-align:center;
    color: #f3ef12; 
    background-color: #0345fa;
    font-family: 'Noto Sans JP', sans-serif;
}


footer {
    height: 60px;
    text-align: center;
    background: #0345fa;
    color: #f3ef12;
    bottom: 0;
  }



  a:hover {
	color: #fffb00da;
	background-color: #12acf3;
  }

.images p {
	display: inline-block;
	text-align: center;
	line-height: 1.2;
    font-size: 20px;
  }
.images p a {
	display: block;

  }

.main {
    height: calc(50vh - 120px - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
